@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.name{
    color: rgb(2, 0, 0);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
.splite-font{
    color:rgb(253, 110, 10);
}
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    background-color: aqua;
    padding: 5px 5px;
}
.ul{
    display: flex;
    /* text-align: right; */
    list-style: none;
    text-align: center;
    gap: 30px;

}
.header{
    background-image: url("../asset/header_bg.png"),url("../asset/banner.png");
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    margin: 2px 2px;
    padding: 1px;
    background-color: rgb(255, 248, 243);
}
.btn{
    /* Rectangle 1 */
    /* position: absolute; */
    width: 100px;
    height: 34px;
    left: 420px;
    /* right: -1220px; */
    /* top: 50px; */
    /* bottom: -50px; */
    border-radius: 5px;

    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    border-color: rgb(253, 110, 10)
    ;
}
li{
    margin: 20px 20px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
/* nav .banner .img{
    background-image: url("asset/header_bg.png");
} */
.btn-contact{
    width: 100px;
    height: 34px;
    left: 420px;
    border-radius: 5px;
    background: rgb(245, 243, 241);
    color: rgb(253, 110, 10);
    border-color: rgb(253, 110, 10);

}
.about{
    background-color: rgb(255, 248, 243);
    margin: 130px 150px;
    text-align: center;
    padding: 180px 155px;
}
.designation{
    display: flex;
    justify-content: space-around;
}
.tiitle{
    color: rgb(2, 0, 0);
    font-family: Open Sans;
    font-size: 15px;
    /* font-weight: 600; */
    /* line-height: 61px; */
    letter-spacing: 0%;
    text-align: left;

}
.sub-title{
    color: rgb(2, 0, 0);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 550;
    /* line-height: 61px; */
    letter-spacing: 0%;
    text-align: left;

}
.description{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;

}
h1{
    color: rgb(2, 0, 0);
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 650;

}
.i-do{
    text-align: center;
    color: rgb(2, 0, 0);
    font-family: Open Sans;
    font-size: 26px;
    font-weight: 650;
}
.do{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0px 155px;
    margin: 2px 2px;

}
.card{
    width: 260px;
    height: 370px;
    /* background-color: aquamarine; */
    margin: 5px 5px;
    padding: 30px 30px;
    color: rgb(117, 117, 117);
    /* letter: spacing 5px; */
}
.cards{
    display: flex;
    justify-content: space-around;
}
.title-card{
    width: 360px;
    /* height: 370px; */
    color: rgb(3, 0, 0);

}
.f-card{
    width: 500px;
    height: 300px;
    padding: 1px 2px;
    /* background-color: aqua; */
}
.f-title{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 41px;
    letter-spacing: 0%;
    text-align: center;
    }
.f-subtitle{
    color: rgb(71, 71, 71);
    font-family: Open Sans;
    font-size: 25px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0%;
    text-align: left;
}
.varsity{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: left;
}
.f-des{
    color: rgb(117, 117, 117);
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0%;
    text-align: left;
}
.section{
    gap: 71px;
    display: flex;
    justify-content: space-around;
    margin: 20px 20px;
    padding: 2px 2px;
    
}
.f-ul{
    list-style: none;
    text-align: center;

}
.f-heading{
    color: rgb(24, 24, 24);
    font-family: Open Sans;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;

}
.d-btn{
    text-align: center;

    
    
}