@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.name{
    color: rgb(2, 0, 0);
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 600;
    line-height: 61px;
    letter-spacing: 0%;
    text-align: left;
}
.splite-font{
    color:rgb(253, 110, 10);
}
.nav{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    background-color: aqua;
    padding: 5px 5px;
}
.ul{
    display: flex;
    /* text-align: right; */
    list-style: none;
    text-align: center;
    gap: 30px;

}
.header{
    background-image: url("../asset/header_bg.png"),url("../asset/banner.png");
    background-repeat: no-repeat;
    background-position: bottom right,top left;
    margin: 2px 2px;
    padding: 1px;
}
.btn{
    /* Rectangle 1 */
    /* position: absolute; */
    width: 100px;
    height: 34px;
    left: 420px;
    /* right: -1220px; */
    /* top: 50px; */
    /* bottom: -50px; */
    border-radius: 5px;

    background: rgb(253, 110, 10);
    color: rgb(255, 255, 255);
    border-color: rgb(253, 110, 10)
    ;
}
li{
    margin: 20px 20px;
}
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}
/* nav .banner .img{
    background-image: url("asset/header_bg.png");
} */
.btn-contact{
    width: 100px;
    height: 34px;
    left: 420px;
    border-radius: 5px;
    background: rgb(245, 243, 241);
    color: rgb(253, 110, 10);
    border-color: rgb(253, 110, 10);

}